* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #e3dac9; /* or whitesmoke */
 
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

nav div ul {
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-left: 25px;
}

article {
    display: flex;
    text-align: center;
    justify-content: center;
}

.about {



}

section {
    display: flex;
    text-align: center;
    justify-content: center;
}
section h2 {
    display: flex;
}

.work{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.project {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.project h3 {
    
}

.contact {
    display: flex;
    text-align: center;
    justify-content: center;
}

article h4 {


}



footer {
    display: flex;
    text-align: center;
    justify-content: center;
    
}
