:root {
    --pad: 5px;
    --rad: 5px;
    --mar: 50px;
}

* {
    background-color: #e3dac9; /* or whitesmoke */;
}

.main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr .15fr 1fr .8fr .8fr .3fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "about about"
    "PRO1 PRO2"
    "PRO3 PRO4"
    "footer footer";
    grid-gap: .2rem;
}

header {
    text-align: center;
    grid-area: header;
    background-color: gray;
    font-size: 50px;
    border-radius: 5px;
}

nav {
    background-color: gray;
    grid-area: nav;
    text-align: center;
    font-size: 25px;
    border-radius: var(--rad);
    padding-top: var(--pad);
}

nav span {
    background-color: gray;
}

nav a {
    text-decoration: none;
    background-color: gray;
    color: black;
    margin-left: var(--mar);
    margin-right: var(--mar);
}

article {
    background-color: gray;
    grid-area: about;
    text-align: center;
    border-radius: var(--rad);
    padding-top: var(--pad);
}

article h1 {
    background-color: gray;
}

article img {
    background-color: gray;
    border-radius: 10px;
}

article span {
    background-color: gray;
}

article p {
    background-color: gray;
    text-indent: 25px;
    margin-right: 20px;
}

section {
    text-align: center;
    background-color: gray;
    border-radius: var(--rad);
    padding-top: var(--pad);
    position: relative;
}

section a {
    background-color: gray;

}

section img {
    border-radius: 10px;
}

section h2 {
    background-color:transparent;
    color: white;
}

section p {
    background-color:transparent;
    color: white;
}

section .bottom-left {
    position: absolute;
    bottom: 25px;
    left: 45px;
    background-color:transparent;
    padding: 5px;
}

.PRO1 {
    background-color: gray;
    grid-area: PRO1;
    
}


.PRO2 {
    background-color: gray;
    grid-area: PRO2;
}

.PRO3 {
    background-color: gray;
    grid-area: PRO3;
}

.PRO4 {
    background-color: gray;
    grid-area: PRO4;
}

footer {
    background-color: gray;
    text-align: center;
    grid-area: footer;
    border-radius: var(--rad);
    padding-top: var(--pad);
    font-size: 20px;
}

footer a {
    margin-left: var(--mar);
    margin-right: var(--mar);
    background-color: gray;
    color: black;
    text-decoration: none;
}

footer p {
    background-color: gray;
}

footer span {
    background-color: gray;
}

@media only screen and (max-width: 500px) {
    .main{
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 1fr .7fr .7fr .7fr .7fr .5fr;
    grid-template-areas: 
    "header"
    "nav"
    "about"
    "PRO1"
    "PRO2"
    "PRO3"
    "PRO4"
    "footer";
    }
}